.summary-createOrder .header {
    width: 100%;
    background-color: #5861AE;
    height: 70px;
    color: white;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header span:first-child {
    margin: 0 15px;
}

.header .close-order-summary {
    margin: 0 15px;
    cursor: pointer;
}


.select-store-container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 98px;
    background-color: #F4F9FF;
}

#select-store select {
    border: none;
    border-bottom: 2px solid #BABABA;
    background-color: transparent;
    font-size: 1em;
}


.price-table-container {
    box-sizing: border-box;
    width: 100%;
    padding: 33px;
    font-size: 16px;
    border-bottom: 1px solid #00000029;
}

.price-table-container div:first-child {
    font-size: 14px;
    margin-bottom: 24px;
    font-weight: 400;
}

.price-table-container table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    color: #1B2734;
}

.price-table-container table tr td:last-child {
    text-align: right;
}

.price-table-container table tr td:first-child {
    text-transform: capitalize;
}

.price-table-container table tr td:nth-child(3) {
    text-align: right;
}

.price-table-container td {
    padding: 16px 15px;
}

#sub-total {
    border: none;
    border-bottom: 1px solid #00000029;
}

#sub-total td:first-child, #total-price td:first-child, #pickup-charge td:first-child {
    text-align: right;
    color: #1B2734;
}

#total-price {
    border: none;
    font-size: 18px;
    font-weight: 800;
    width: 100%;
    background-color: #5861AE;
    color: white;
}

#total-price td:first-child {
    color: white;
}

