.summary-createOrder .header {
    width: 100%;
    background-color: #5861AE;
    height: 70px;
    color: white;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header span:first-child {
    margin: 0 15px;
}

.header .cancel {
    margin: 0 15px;
    cursor: pointer;
}


.select-store-container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 98px;
    background-color: #F4F9FF;
}

#select-store select {
    border: none;
    border-bottom: 2px solid #BABABA;
    background-color: transparent;
    font-size: 1em;
}
