.main-containerp3 {
    display: flex;
    justify-content: space-evenly;
    background: transparent url("/public/images/Footer.jpg") 0% 0% no-repeat;
    box-sizing: border-box;
    padding: 60px 100px;
    background-size: cover;
    box-shadow: 10px 10px;
  }
  .boxp3 {
    display: flex;
    flex-direction: column;
  }
  .boxp3 > h4 {
    text-align: center;
    font: normal normal medium 18px/24px Avenir;
    letter-spacing: 0.18px;
    color: #182838;
    opacity: 1;
    font-size: medium;
    font-weight: bold;
  }
  .boxp3 > h6 {
    font: normal normal normal 14px/24px Avenir;
    letter-spacing: 0.14px;
    color: #182838;
    text-transform: capitalize;
    opacity: 1;
  }
  .logop3:hover {
    cursor: pointer;
  }
  
  .socialImgs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
  }
  .main-containerp3 {
    display: flex;
    justify-content: space-evenly;
    background: transparent url("/public/images/Footer.jpg") 0% 0% no-repeat;
    box-sizing: border-box;
    padding: 60px 100px;
    background-size: cover;
    box-shadow: 10px 10px;
  }
  .boxp3 {
    display: flex;
    flex-direction: column;
  }
  .boxp3 > h4 {
    text-align: center;
    font: normal normal medium 18px/24px Avenir;
    letter-spacing: 0.18px;
    color: #182838;
    opacity: 1;
    font-size: medium;
    font-weight: bold;
  }
  .boxp3 > h6 {
    font: normal normal normal 14px/24px Avenir;
    letter-spacing: 0.14px;
    color: #182838;
    text-transform: capitalize;
    opacity: 1;
  }
  .logop3:hover {
    cursor: pointer;
  }
  
  .socialImgs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
  }
  